body {
  background-color: #eee;
}

.mdl-layout__header-row {
  padding: 0 20px;
}

.page-content {
  padding: 10px;
}

.demo-card-wide.mdl-card {
  width: 100%;
  margin-bottom: 10px;
}

/* Modal */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.mdl-dialog__title {
  font-size: 22px;
}
