<div class="add-card-page mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <a href="/" class="mdl-layout__drawer-button">
        <i class="material-icons">close</i>
      </a>
      <span class="mdl-layout-title" ng-bind="::addCardCtrl.title"></span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Your content goes here -->
      <form name="form" class="card-form">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input
            class="mdl-textfield__input"
            type="text" pattern="-?[0-9]*(\.[0-9]+)?"
            ng-model="card.number"
            ng-required="true"
            autocomplete="off"
            ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}"
            id="card-number">
          <label class="mdl-textfield__label" for="card-number">Número do cartão</label>
          <span class="mdl-textfield__error">Digite apenas números!</span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input
            class="mdl-textfield__input"
            type="text" pattern="-?[0-9]*(\.[0-9]+)?"
            ng-model="card.cpf"
            ng-required="true"
            autocomplete="off"
            ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}"
            id="cpf-number">
          <label class="mdl-textfield__label" for="cpf-number">CPF do titular</label>
          <span class="mdl-textfield__error">Digite apenas números!</span>
        </div>

        <button
          class="mdl-button mdl-js-botton mdl-button--raised mdl-button--colored card-form-submit"
          ng-disabled="form.$invalid || addCardCtrl.addCardInProgress"
          ng-click="addCardCtrl.addCard(card)">
          Adicionar cartão
        </button>
      </form>
    </div>
  </main>
</div>
