<section class="page">
  <div class="page-header">
    <div class="page-header_menu">
      <a href="/#!" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <span class="material-icons">arrow_back</span>
      </a>
    </div>

    <div class="page-header_menu absolute_right">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <span class="material-icons">delete</span>
      </button>
    </div>

    <header class="page-header_container">

    </header>

  </div>

  <div class="page-body">
    <article class="balance page-body_container with_bg">
      <div class="card mdl-shadow--2dp">
        <span class="card-balance">
          <span>R$</span> 134,<span>50</span>
        </span>
        <span class="card-number">
          0000 0000 0000 0000
        </span>
        <span class="card-user">
          Maria José
        </span>
        <span class="card-service">
          Refeição
        </span>
      </div>

      <div class="transactions">
        <div class="transactions-title">Transações</div>

        <div class="transactions-body">
          <div class="transaction">
            <div class="transaction-row">
              <span class="transaction-name">Camarões Comida Potiguar</span>
              <span class="transaction-value">R$ 120,10</span>
            </div>
            <div class="transaction-row">
              <span class="transaction-date">12/01/2017</span>
            </div>
          </div>

          <div class="transaction is-credit">
            <div class="transaction-row">
              <span class="transaction-name">Crédito</span>
              <span class="transaction-value">R$ 500,10</span>
            </div>
            <div class="transaction-row">
              <span class="transaction-date">15/01/2017</span>
            </div>
          </div>

          <div class="transaction">
            <div class="transaction-row">
              <span class="transaction-name">Outback Steak House</span>
              <span class="transaction-value">R$ 180,00</span>
            </div>
            <div class="transaction-row">
              <span class="transaction-date">20/01/2017</span>
            </div>
          </div>
        </div><!-- .transaction-body -->
      </div>
    </article>
  </div>
</section>
