<div class="main-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row remove-padding">
      <span class="mdl-layout-title" ng-bind="cardCtrl.title"></span>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Your content goes here -->
      <div class="cards">
        <card
          class="mdl-shadow--2dp"
          ng-repeat="card in cardCtrl.cards"
          data="card"
          ng-click="cardCtrl.cardDetail(card)">
        </card>
      </div>
    </div>
  </main>
</div>

<a href="/#!/add" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored add_card-button">
  <i class="material-icons">add</i>
</a>
