/**************
    Add Card
**************/
.add-card {
  position: fixed;
  bottom: -213px;
  padding: 0 10px;
  width: 100%;
  background-color: #FFF;
  transition-duration: .5s;
  border-top: 3px solid #FC4349;
  z-index: 100;
}

.add-card.is-open {
  bottom: 0;
}

.add-card .add-card-content {
  padding: 30px 10px 10px 10px;
}

.add-card .add-card-content > div {
  margin-bottom: 20px;
}

.add-card .add-card-content > div > label,
.add-card .add-card-content > div > input {
  width: 100%;
}

.add-card .add-card-content > div > label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.add-card .add-card-content > div > input {
  padding: 10px 0;
  font-size: 20px;
  /*color: #fff;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.add-card-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  width: 55px;
  height: 55px;
  padding-top: 4px;
  background-color: #FC4349;
  border-radius: 50%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
  transition-duration: .5s;
}

.add-card-button.is-open {
  bottom: 184px;
}

.add-card-button .save {display: none;}
.add-card-button.is-open .add {display: none;}
.add-card-button.is-open .save {display: block;}
