/**************
    Cards
**************/
.cards-page {
  background-color: #2C3E50;
  color: #fff;
}

.cards-page .page-header {
  /*box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);*/
}

.cards-page .material-icons {
  color: #fff;
}

.cards-page .page-main {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .25);
  z-index: 10;
}

.cards {
  padding-top: 10px;
}

.cards .card {
  position: relative;
  padding: 30px 20px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);
  overflow: hidden;
}

.cards .card.is-updating {
  opacity: 0.5;
}

.cards .card.is-selected::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: #2980b9;
}

.cards .card > div {
  margin: 0 0 10px 0;
}

.cards .card > img {
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 90px;
  opacity: 0.5;
}

.cards .card .card-name {
  font-weight: bold;
  margin-bottom: 3px;
}

.cards .card .card-number {
  color: #6d6b6b;
  margin-bottom: 15px;
}

.cards .card .card-balance {
  margin-bottom: 0;
  font-size: 30px;
}

.cards .card .card-balance > span {
  font-size: 15px;
  margin-right: 5px;
}
