@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  outline: 0;
}

.material-icons {
  color: #fff;
}

body {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
}

.button {
  padding: 6px;
  cursor: pointer;
}

.page {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex: 1 0;
  height: 100%;
}

.page .page-header_title {
  text-align: left;
  font-size: 17px;
}

.page .page-header,
.page .page-main,
.page .page-footer {
  width: 100%;
  padding: 5px 10px;
}

.page .page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 56px;
}

.page .page-header_menu {
}

.page .page-header_menu button {
  margin: 0 5px;
  width: 32px;
  height: 32px;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
}

.page .page-header_menu button:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.page .page-header_menu button:last-child {
  margin-right: 0;
}

.page .page-main {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.page .page-footer {
  height: 50px;
}

/**************
    Cards
**************/
.cards-page {
  background-color: #2C3E50;
  color: #fff;
}

.cards-page .page-header {
  /*box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);*/
}

.cards-page .material-icons {
  color: #fff;
}

.cards-page .page-main {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .25);
  z-index: 10;
}

.cards {
  padding-top: 10px;
}

.cards .card {
  position: relative;
  padding: 30px 20px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);
  overflow: hidden;
}

.cards .card.is-updating {
  opacity: 0.5;
}

.cards .card.is-selected::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: #2980b9;
}

.cards .card > div {
  margin: 0 0 10px 0;
}

.cards .card > img {
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 90px;
  opacity: 0.5;
}

.cards .card .card-name {
  font-weight: bold;
  margin-bottom: 3px;
}

.cards .card .card-number {
  color: #6d6b6b;
  margin-bottom: 15px;
}

.cards .card .card-balance {
  margin-bottom: 0;
  font-size: 30px;
}

.cards .card .card-balance > span {
  font-size: 15px;
  margin-right: 5px;
}

/**************
    Add Card
**************/
.add-card {
  position: fixed;
  bottom: -213px;
  padding: 0 10px;
  width: 100%;
  background-color: #FFF;
  transition-duration: .5s;
  border-top: 3px solid #FC4349;
  z-index: 100;
}

.add-card.is-open {
  bottom: 0;
}

.add-card .add-card-content {
  padding: 30px 10px 10px 10px;
}

.add-card .add-card-content > div {
  margin-bottom: 20px;
}

.add-card .add-card-content > div > label,
.add-card .add-card-content > div > input {
  width: 100%;
}

.add-card .add-card-content > div > label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.add-card .add-card-content > div > input {
  padding: 10px 0;
  font-size: 20px;
  /*color: #fff;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.add-card-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  width: 55px;
  height: 55px;
  padding-top: 4px;
  background-color: #FC4349;
  border-radius: 50%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
  transition-duration: .5s;
}

.add-card-button.is-open {
  bottom: 184px;
}

.add-card-button .save {display: none;}
.add-card-button.is-open .add {display: none;}
.add-card-button.is-open .save {display: block;}
