.balance {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.balance .card {
  /*margin: 0 auto;*/
  position: relative;
  top: -40px;
  /*box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);*/
}

.balance .transactions {
  margin-top: 25px;
  width: 100%;
  color: #000;
}

.balance .transactions .transactions-title {
  margin-bottom: 25px;
  font-size: 14px;
  color: #666666;
}

.balance .transactions-body .transaction {
  font-size: 14px;
}

.balance .transactions-body .transaction:not(:last-child) {
  margin-bottom: 25px;
}

.balance .transactions-body .transaction .transaction-row {
  display: table;
  width: 100%;
}

.balance .transactions-body .transaction .transaction-row:not(:last-child) {
  margin-bottom: 5px;
}

.balance .transactions-body .transaction .transaction-name {
  color: #666666;
}

.balance .transactions-body .transaction .transaction-name,
.balance .transactions-body .transaction .transaction-date {
  float: left;
}

.balance .transactions-body .transaction .transaction-date {
  color: #BABABA;
}

.balance .transactions-body .transaction .transaction-name,
.balance .transactions-body .transaction .transaction-value {
  font-weight: bold;
}

.balance .transactions-body .transaction .transaction-value {
  float: right;
  color: #007FFF;
}

.balance .transactions-body .transaction.is-credit .transaction-value {
  color: #00B22D;
}
