::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  outline: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  background-color: #222222;
}

a {color: #fff;}

main {width: 100%;}

.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222222;
  z-index: 100;
}

.page-body {
  padding-top: 100px;
}

.page-header_container,
.page-body_container {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 100%;
  max-width: 960px;
}

.page-header_container {
  height: 90px;
}

.page-header_logo {
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.page-header_menu {
  position: absolute;
  left: 20px;
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.page-header_menu .page-header_menu_btn {
  margin: 0 5px;
}


.page-header_menu.absolute_right {
  left: inherit;
  right: 20px;
}

.button-add_card {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #3498DB;
  color: #fff;
}

.button-add_card:hover {
  background-color: #168fe0;
}

/* View Animate */

.view-animate.ng-animate {
  transition:0.2s linear all;
}
.view-animate.ng-enter {
  opacity:0;
  transition-delay: 0.2s;
}
.view-animate.ng-enter.ng-enter-active {
  opacity:1;
}
.view-animate.ng-leave {
  opacity:1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity:0;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .page-header_container {
    height: 60px;
  }

  .page-header_logo {
    height: 35px;
    margin-top: 0px;
  }

  .page-header_menu {
    left: 10px;
  }

  .page-header_menu.absolute_right {
    right: 10px;
  }

  .page-body {
    padding-top: 60px;
  }
}
