.add-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.add-card .card {
  position: relative;
  top: -40px;
  background-color: rgb(63,81,181);
  /*box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);*/
  z-index: 10;
}

.add-card .card-form {
  margin-top: 10px;
  width: 100%;
  color: #666;
  font-size: 14px;
}

.add-card .card-form .mdl-textfield {
  width: 100%;
}

.add-card .card-form .card-form-submit {
  margin-top: 15px;
  width: 100%;
  font-size: 13px;
}
